/* Override react-datepicker input width to 100% inside our modal */
.react-datepicker-wrapper {
  width: 100% !important;
  display: block !important;
}

.react-datepicker__input-container {
  width: 100% !important;
  display: block !important;
}

.react-datepicker__input-container input {
  width: 100% !important;
}